<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
   
   <link rel="stylesheet" href="/style.css">        <!-- Your custom CSS second -->
  
   
    <title>Inventary Application</title>
</head>
<body class="m-0">

    <div class="grid grid-cols-[20%_80%] h-screen w-full">
        <!-- Sidebar -->
        <div class="bg-white border-r-2 p-6 shadow-sm ">
            <h1 class="text-4xl font-bold ">Class</h1>
        </div>

        <!-- Main Content -->
        <div class="bg-zinc-100 overflow-auto">
            <!-- Content here -->
        </div>
    </div>

</body>
</html>