<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    
    <title>Inventory Application</title>
</head>
<body class="m-0">
    <!-- dialoag MODAL-->
 <div 
 id="dialogModal" 
 class="hidden fixed inset-0 bg-black/70 flex items-center justify-center ">
   
    <dialog 
    id="dialog"
    class="justify-self-center bg-white rounded-3xl shadow-2xl max-w-md w-full mx-4 overflow-hidden">
        <!-- Header -->
        <div class="bg-red-600 px-6 py-4 text-white flex items-center gap-3">
            <i class="fa-solid fa-circle-exclamation text-2xl"></i>
            <h3 class="font-semibold text-lg">Are You Sure You Want To Delete This Movie?</h3>
        </div>
        
        <!-- Body -->
        <form
         method="POST" 
        action="/movie/delete"
        id="mydialogform"
        class="p-8 text-center flex justify-between">
         <input type="hidden" name="movieid" id="movieIdInput" value="">
            <button 
                   type="submit">Delete</button>
            <button
                   type="button"  
                   id="cancelButton">Cancel</button>
        </form>

      
    </dialog>
</div>
    <div class="grid grid-cols-[20%_80%] h-screen w-full">
        <!-- Sidebar -->
        <%- include('sideBar') %>

        <!-- Main Content -->
        <%- include('mainContent', { movies,  directors: directors, genres:genres}) %>
    </div>
 <script src="/script.js"></script>
</body>
</html>