<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
   
   <link rel="stylesheet" href="/style.css">        <!-- Your custom CSS second -->
  
   
    <title>Inventary Application</title>
</head>
<body class="m-0">

    <div class="grid grid-cols-[20%_80%] h-screen w-full">
        <!-- Sidebar -->
        <div class="bg-white border-r-2 p-6 shadow-sm ">
            <h1 class="text-4xl font-bold ">Class</h1>
        </div>

        <!-- Main Content -->
        <div class="bg-zinc-100 overflow-auto p-8 flex  flex-col gap-4">
                <div class="bg-white p-12 shadow-xl rounded-xl h-1/5 border-2">
                    <h1>Movies</h1>
                    <p>Showing <%=movies.length%> Movies</p>
                </div>
                <div class="bg-white h-full shadow-xl rounded-xl p-4 border-2">
                      <table class="min-w-full min-h-full">
                        <thead class="bg-gray-50 border-b">
                                 <tr >
                                <th>Title & Director</th>
                                <th>Geners</th>
                                <th>Actions</th>
                                 </tr>
                        </thead>
                           <tbody class="">
                                <% movies.map((movie)=> {
                                   %>
                                   <tr class="bg-gray-50 border-b cursor-pointer">
                                        <td>
                                            <%=movie.moviename.toUpperCase()%>
                                            <br/>
                                            By <%=movie.directorname%>
                                        </td>
                                        <td>
                                            <h1>Adventures</h1>
                                        </td>
                                        <td>
                                            <h1>Edit</h1>
                                            <h2>Delete</h2>
                                        </td>
                                   </tr>
                        
                             <%
                            }) %>
                                
                           </tbody>
                            
                    </table>
                </div>
            <% /*movies.map((movie)=> {
                %>
                <h1><%=movie.moviename%></h1>
                <%
            }) */%>
            <!-- Content here -->
        </div>
    </div>

</body>
</html>