<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
   
   <link rel="stylesheet" href="/style.css">        <!-- Your custom CSS second -->
  
   
    <title>Inventary Application</title>
</head>
<body class="m-0">

    <div class="grid grid-cols-[20%_80%] h-screen w-full">
        <!-- Sidebar -->
        <div class="bg-white border-r-2 p-6 shadow-sm ">
            <h1 class="text-4xl font-bold ">Class</h1>
             
        </div>

        <!-- Main Content -->
        <div class="bg-zinc-100 overflow-auto pt-4 px-4 pb-2 flex  flex-col gap-8">
                <div class="bg-white pb-8 shadow-xl rounded-xl  border-2 flex flex-col justify-center py-8 px-3">
                   <h1 class="text-3xl font-bold ">Movies</h1>
                    <p>Showing <%=movies.length%> Movies</p>
                </div>
                <div class="bg-white h-full shadow-xl rounded-xl p-4 border-2">
                      <table class="min-w-full min-h-full">
                        <thead class="bg-gray-50 border-b">
                                 <tr >
                                <th class="text-left px-6 py-3  font-semibold">Title & Director</th>
                                <th class="text-left px-6 py-3 font-semibold">Geners</th>
                                <th class="text-left px-6  font-semibold">Actions</th>
                                 </tr>
                        </thead>
                           <tbody class="">
                                <% movies.map((movie)=> {
                                   %>
                                   <tr class="bg-gray-50 border-b cursor-pointer">
                                        <td class="px-6 py-3">
                                            <p class="font-semibold"><%=movie.moviename.toUpperCase()%></p>
                                           
                                            By <%=movie.directorname%>
                                        </td>
                                        <td class="px-6 py-3">
                                            <h1>Adventures</h1>
                                        </td>
                                        <td class="">
                                            <div class=" flex gap-4 items-center justify-center w-[50%]">
                                                      <i class="fas fa-edit"></i>
                                                 <i class="fa-solid fa-trash"></i>
                                            </div>
                                        
                                        </td>
                                   </tr>
                        
                             <%
                            }) %>
                                
                           </tbody>
                            
                    </table>
                </div>
            <% /*movies.map((movie)=> {
                %>
                <h1><%=movie.moviename%></h1>
                <%
            }) */%>
            <!-- Content here -->
        </div>
    </div>

</body>
</html>