 <div class="bg-white border-r-2 p-6  flex flex-col gap-12">
            <h1 class="text-4xl font-bold ">Movie Vault</h1>
              <div >
                <a  class = "flex gap-4 items-center" href="/">
                     <i class="fa fa-home text-gray-800" aria-hidden="true"></i>
                <p class="text-gray-800">DashBoard</p>
                </a>
               
             </div>
             <div >
                <a class="flex gap-4 items-center"  href="/movies">
                           <i class="fa-solid fa-film text-gray-800"></i>
                     <p class="text-gray-800 ">Movies</p>   
                </a>
              
             </div>
             <div >
                <a  class="flex gap-4 items-center" href="/Directors">
                     <i class="fa-solid fa-user text-gray-800"></i>
                     <p class="text-gray-800">Directors</p>
                </a>
               
             </div>
             <div >
                <a class="flex gap-4 items-center" href="/Geners">
                         <i class="fa-solid fa-layer-group text-gray-800"></i>
                          <p class="text-gray-800">Geners</p>
                </a>
               
             </div>
           
             
        </div>