<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    
    <title>Inventory Application</title>
</head>
<body class="m-0">
    <div class="grid grid-cols-[20%_80%] h-screen w-full">
        <%- include('../sideBar') %>
        <%- include('mainContent', {geners: geners}) %>
    </div>
    
</body>
</html>