<div class="bg-zinc-100 overflow-auto pt-4 px-4 pb-2 flex  flex-col gap-8">
    <div class="bg-white pb-8 shadow-xl rounded-xl  border-2 flex flex-col justify-center py-8 px-3">
                   <h1 class="text-3xl font-bold ">Geners</h1>
                    <p class="text-gray-500">Showing <%=geners.length%> geners</p>
    </div>
</div>